.background {
    background-color: grey;
}

.front {
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}
.title {
    font-size: 2em;
    text-align: left;
}
.profile {
    float: left;
}
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.space {
    margin-bottom: 50px;
}
.space-top {
    margin-top: 50px;
}
.space-title {
    margin-bottom: 50px;
}
.card {
    margin-bottom: 20px;
}
.bi {
    margin-right: 20px;
}
