<div style="display: flex; flex-direction: column; align-items: center">
  <div style="margin-bottom: 50px">{{ today | date: "medium" }}</div>
  <div class="card" *ngFor="let item of contents">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        {{ item.content }}
      </p>
      <div *ngIf="item.link" style="display: flex; flex-direction: column">
        <a
          *ngFor="let item of item.link"
          href="{{ item.link }}"
          target="_blank"
          >{{ item.name }}</a
        >
      </div>
    </div>
  </div>
</div>
