<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  "
>
  <div>
    <img
      src="../../../assets/images/profile.png"
      alt=""
      height="300"
      width="300"
      style="border-radius: 50%"
    />
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae et tempora qui
    quidem illum, quasi omnis tempore praesentium rem labore minima, similique
    voluptatum distinctio laudantium animi exercitationem ad autem vel.
  </div>
</div>
<h1>sobre</h1>
<app-sobre></app-sobre>
<h1>Licenças</h1>
<app-license></app-license>
